@import url("fonts.css");
@import url("font-awesome/css/font-awesome.min.css");

/*
  General
*/

body {
  margin: 0;
  font-family: "librebaskerville-regular";
  text-rendering: optimizeLegibility;
}

section {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
  padding-top: 2em;
}

section h1 {
  text-align: center;
  color: white;
  font-size: 3em;
}

footer {
  text-align: center;
  margin-top: 0;
  color: white;
  padding: 2em;
  font-size: .8em;
  background-color: rgb(39, 40, 43);
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  width: 50%;
}

input:not([type=submit]) {}

input[type=submit] {
  background-color: rgb(248, 158, 15);
}


/*
  Hamburger Menu Button
*/

#hamburger {
  float: right;
  top: 0;
  right: 0;
  position: fixed;
  padding: 4em
}

#hamburger button {
  font-size: 2em;
  border: none;
  background-color: rgba(0, 0, 0, .25);
  color: white;
}

#sideNavCross {
  float: right;
  right: 0;
  font-size: 2em;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}


/*
Navigation Side Bar
*/

nav {
  overflow: hidden;
  background-color: rgb(28, 28, 28);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  text-align: center;
  width: 18em;
  display: none;
}

nav h1 {
  color: white;
  font-family: "Vincentia";
  font-size: 2em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  padding: 0;
}

nav ul li a {
  display: block;
  padding: 2em;
  color: white;
  text-align: center;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: rgb(14, 14, 14);
}


/*
  Classes
*/

.columns {
  margin-left: 8em;
  margin-right: 8em;
  column-span: none;
}

.column {
  page-break-inside: avoid;
  break-inside: avoid-column;
  display: table;
  display: block;
  overflow: hidden;
}

@media only screen and (min-width: 1080px) {
  .contactColumns {
    column-count: 2;
  }
  .footerColumns {
    column-count: 3;
  }
}

.blueText {
  color: rgb(7, 97, 125);
}

.aboutHeader {
  color: rgb(7, 97, 125);
  margin: 0;
  text-transform: uppercase;
}

.sectionHeader {
  color: rgb(128, 126, 126);
  margin: 0;
  text-transform: uppercase;
}

.uppercase {
  margin: 0;
  text-transform: uppercase;
}

.icon {
  color: rgb(249, 168, 40);
  display: block;
  font-size: .5em;
}

.services_title {
  display: block;
  font-weight: bolder;
  color: white;
  padding: 1em;
}

.contactInfoTitle {
  display: block;
  margin: 1em;
}

.formInput {
  color: black;
  margin: 1em;
  width: 50%;
  margin: 1em;
  border: none;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.6);
}

.hrFooter {
  background-color: rgba(255, 255, 255, 0.75);
}

.smallCase {
  text-transform: capitalize;
}


/*
  IDs
*/

#home {
  background-image: url("../images/hero-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-size: 2em;
  font-family: "montserrat-bold";
  font-style: normal;
  text-rendering: optimizeLegibility;
}

#name {
  padding-top: 6em;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 1em;
}

#home h1 {
  margin-left: 30%;
  margin-right: 30%;
}

#title {
  margin-top: 0;
  padding-top: 0;
  font-family: "Vincentia";
  font-size: 4em;
}

#about {
  font-weight: bold;
}

#about img {
  width: 300px;
  height: 198px
}

#about p {
  font-size: 2em;
}

#services {
  color: rgb(130, 130, 130);
  background-image: url("../images/services-bg.jpg");
  background-size: cover;
}

#services ul {
  list-style: none;
}

#services ul li {
  margin: 2em;
}

#projects {
  text-align: center;
  min-height: 100vh;
  display: inline-block;
  overflow: visible;
}

#showcase {
  background-image: linear-gradient(to bottom, rgb(29, 29, 29), rgb(29, 29, 29) 50%, white 25%, white);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

#contact {
  color: white;
  background-image: url("../images/contact-bg.jpg");
  background-size: cover;
}

@media only screen and (min-width: 1080px) {
  #services ul {
    margin-left: 8em;
    margin-right: 8em;
    column-count: 2;
    column-span: none;
  }
  #services ul div {
    page-break-inside: avoid;
    break-inside: avoid-column;
    display: table;
    display: block;
    overflow: hidden;
  }
}

#contactInfoSide ul {
  list-style: none;
}

#albumViewerBackground {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  margin: 0;
  background-color: rgba(0, 0, 0, .25);
  z-index: 1;
}

#albumView {
  display: none;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  z-index: 2;
  overflow: auto;
  margin: 0 auto;
}


/*
  Gallery
*/

#showcase ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

#showcase ul li {
  display: inline-block;
  border: thin black;
}

#showcase ul li {
  padding: 6em;
  width: 12em;
  height: 6em;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.25em;
  background-color: rgb(28, 28, 28);
  overflow: hidden;
  text-align: center;
  background-size: cover;
}

#showcase ul li span {
  background-color: rgba(0, 0, 0, .25);
  padding: .5em;
}

#adeleAlbum {
  background-image: url("../images/portfolio/gallery/DSC_2073.jpg");
}

#kaitlyAndDerekAlbum {
  background-image: url("../images/portfolio/kaitlyn and derek - new edit/untitled-1.jpg");
}

#laylaAlbum {
  background-image: url("../images/portfolio/layla 2016 new edit/untitled-6.jpg");
}

#loisAndAviAlbum {
  background-image: url("../images/portfolio/lois and avi new edit/untitled-1.jpg");
}

#mackenzieAndLexiAlbum {
  background-image: url("../images/portfolio/mackenzie and lexi/DSC_1196.jpg");
}


/*Mobile Modifiers*/

@media screen and (max-width: 1000px) {}