@import url("fonts.css");
@import url("font-awesome/css/font-awesome.min.css");

/*
  General
*/

body {
  margin: 0;
  font-family: "librebaskerville-regular";
  text-rendering: optimizeLegibility;
}

section {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
  padding-top: 2em;
}

section h1 {
  text-align: center;
}

footer {
  margin-top: 0;
  color: white;
  padding: 2em;
  background-color: rgb(39, 40, 43);
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  width: 50%;
}

input:not([type=submit]) {}

input[type=submit] {
  background-color: rgb(248, 158, 15);
}


/*
  Hamburger Menu Button
*/

#hamburger {
  float: right;
  top: 0;
  right: 0;
  position: fixed;
  padding: 4em
}

#hamburger button {
  font-size: 2em;
  border: none;
  background-color: rgba(0, 0, 0, .25);
  color: white;
}

#sideNavCross {
  float: right;
  right: 0;
  font-size: 2em;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}


/*
Navigation Side Bar
*/

nav {
  overflow: hidden;
  background-color: rgb(28, 28, 28);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  text-align: center;
  width: 18em;
}

nav h1 {
  color: white;
  font-family: "Vincentia";
  font-size: 2em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  padding: 0;
}

nav ul li a {
  display: block;
  padding: 2em;
  color: white;
  text-align: center;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: rgb(14, 14, 14);
}


/*
  Classes
*/

.contactsColumns {
  margin-left: 8em;
  margin-right: 8em;
  column-count: 2;
  column-span: none;
}

.contactsColumns div {
  page-break-inside: avoid;
  break-inside: avoid-column;
  display: table;
  display: block;
}

.footerColumns {
  margin-left: 8em;
  margin-right: 8em;
  column-count: 3;
  column-span: none;
}

.footerColumns div {
  page-break-inside: avoid;
  break-inside: avoid-column;
  display: table;
  display: block;
}

.blueText {
  color: rgb(7, 97, 125);
}

.uppercase {
  margin: 0;
  text-transform: uppercase;
}

.icon {
  color: rgb(249, 168, 40);
  display: block;
}

.services_title {
  display: block;
  font-weight: bolder;
}

.formInput {
  color: black;
  margin: 1em;
  width: 50%;
  margin: 1em;
  border: none;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.6);
}

/*
  IDs
*/

#home {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  color: white;
  font-size: 2em;
  font-family: "montserrat-bold";
  font-style: normal;
  text-rendering: optimizeLegibility;
}

#name {
  padding-top: 6em;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 1em;
}

#home h1 {
  margin-left: 30%;
  margin-right: 30%;
}

#title {
  margin-top: 0;
  padding-top: 0;
  font-family: "Vincentia";
  font-size: 4em;
}

#about {
  font-weight: bold;
}

#about p {
  font-size: 2em;
}

#services {
  color: white;
  background-image: url("../images/services-bg.jpg");
  background-size: cover;
}

#services ul {
  list-style: none;
}

#projects {
  text-align: center;
  min-height: 100vh;
  display: inline-block;
  overflow: visible;
}

#contact {
  color: white;
  background-image: url("../images/contact-bg.jpg");
  background-size: cover;
}

/*Mobile Modifiers*/

@media screen and (max-width: 1000px) {}