body {
  margin: 0;
}

#hamburger {
  float: right;
  top: 0;
  right: 0;
  position: fixed;
  padding: 2em
}

#hamburger button {
  font-size: 2em;
  border: none;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

#sideNavCross {
  float: right;
  right: 0;
  font-size: 2em;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

nav {
  overflow: hidden;
  background-color: rgb(28, 28, 28);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  text-align: center;
}

nav h1 {
  color: white;
  font-family: "Vincentia";
  font-size: 2em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  padding: 0;
}

nav ul li a {
  display: block;
  padding: 2em;
  color: white;
  text-align: center;
  text-decoration: none;
}

section {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
}

section h1 {
  text-align: center;
}

nav ul li a:hover {
  background-color: rgb(14, 14, 14);
}

.projectList {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.projectList li {
  display: inline-block;
  border: thin black;
}

.projectList li a {
  display: block;
  padding: 6em;
  width: 12em;
  height: 6em;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.25em;
  background-color: rgb(28, 28, 28);
  overflow: hidden;
  text-align: center;
}

.projectList li a:hover {
  background-color: rgb(14, 14, 14);
}

.projectList li a span {
  padding-top: .5em;
  display: block;
  font-weight: normal;
  font-size: 0.75em;
}

.center {
  text-align: center;
}

.nav_dropdown {
  display: none;
  position: absolute;
  z-index: 1;
}

.nav_dropdown a {
  display: block;
  text-align: left;
  text-decoration: none;
}

.dropdown:hover .nav_dropdown {
  display: block;
}

#home {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  color: white;
  font-size: 2em;
  font-family: "montserrat-bold";
  font-style: normal;
  text-rendering: optimizeLegibility;
}

#name {
  text-transform: uppercase;
  padding-top: 4em;
  padding-bottom: 0;
  margin-bottom: 0;
}

#home h1 {
  margin-left: 30%;
  margin-right: 30%;
}

.title {
  margin-top: 0;
  padding-top: 0;
  font-family: "Vincentia";
  font-size: 4em;
}

#services {
  color: white;
  background-image: url("../images/services-bg.jpg");
  background-size: cover;
}

#projects {
  text-align: center;
  min-height: 100vh;
  display: inline-block;
  overflow: visible;
}

#contact {
  color: white;
  background-image: url("../images/contact-bg.jpg");
  background-size: cover;
}

<<<<<<< HEAD
footer  {
  background-color: rgb(39, 41, 43);
=======
footer {
  color: white;
  padding: 2em;
  background-color: rgb(39, 40, 43);
>>>>>>> 20d58c4700aebea4f3ddc7f276e254f65d902f87
}


/*Mobile Modifiers*/

@media screen and (max-width: 1000px) {}